<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<span>
<li style="display: inline;"><%= link_to "Edit | ", edit_article_path(@article), style: "text-decoration: none;" %></li>
<li style="display: inline;"><%= link_to "Back | ", articles_path, style: "text-decoration: none;" %></li>
<li style="display: inline;"><%= link_to "Destroy", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
}, style: "text-decoration: none;" %></li>

</span>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
